/* src/components/Cursor.css */
.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
}

.cursor-inner {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cursor-line {
  position: absolute;
  width: 2px; /* Adjust line thickness */
  height: 100px; /* Adjust line length */
  background-color: #000;
  transform-origin: top; /* Start drawing the line from the top */
  transform: translateY(-50%);
  transition: opacity 0.5s ease;
}
