.navbar {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-heading2 .navbar-heading {
  margin-left: 6px;
  margin-right: 6px;
}

.justify-content-space {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}
